name: build
on: [push, pull_request]
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-20.04
    container:
      image: rostooling/setup-ros-docker:ubuntu-focal-latest
    strategy:
      matrix:
        ros_distribution:
          - foxy
          - galactic
    steps:
      - name: deps
        uses: ros-tooling/setup-ros@v0.3
        with:
          required-ros-distributions: ${{ matrix.ros_distribution }}
      - name: install_clang
        run: sudo apt update && sudo apt install -y clang clang-tools lld
      - name: build
        uses: ros-tooling/action-ros-ci@v0.2
        env:
          CC: clang
          CXX: clang++
        with:
          target-ros2-distro: ${{ matrix.ros_distribution }}
          # Build all packages listed in the meta package, as well as their
          # downstream packages, to check for breaking changes.
          package-name: |
            rmf_charger_msgs
            rmf_dispenser_msgs
            rmf_door_msgs
            rmf_fleet_msgs
            rmf_ingestor_msgs
            rmf_lift_msgs
            rmf_obstacle_msgs
            rmf_scheduler_msgs
            rmf_site_map_msgs
            rmf_task_msgs
            rmf_traffic_msgs
            rmf_workcell_msgs
            rmf_task_ros2
            rmf_traffic_ros2
            rmf_fleet_adapter
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/open-rmf/rmf/main/rmf.repos
          colcon-defaults: |
            {
              "build": {
                "mixin": ["coverage-gcc", lld]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ros_ws/lcov/total_coverage.info
          flags: tests
          name: lean_and_mean_codecov_bot
